*.log
.DS_Store
.env
.env.*
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/store/vendor.rar
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/public/images/
/flat-files/*.ap
/flat-files/*.AP
/flat-files/*.sql
/flat-files/*.zip
Homestead.json
Homestead.yaml
Thumbs.db
!.env.example
!/public/build
!/public/build/**
